html{
    font-family: lato, sans-serif;
}
*,*::after, *::before{
    box-sizing: inherit;
}
.body{
    box-sizing: border-box;
    margin: 0;
}
.navbar{
    max-width: 640px;
    margin: 50px auto;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
}
.navbar__brand{
    display: flex;
    align-items: center;
}

.navbar__logo{
    margin-right: 30px;
    transition: text-shadow 0.3s;
}

.navbar__navigation{
    display: flex;
    flex-direction: row;
    padding: 0;
    list-style: none;
    color: black;
}
.navbar__navigation--item{
    margin-left: 50px;
}
.navbar__navigation--item:hover{
  text-shadow: 0 0 5px #00f, 0 0 10px #0ff, 0 0 20px #0ff;
  text-decoration:#00f;
}
.navbar__link{
    text-decoration: none;
    color: inherit;
}
.main{
    max-width: 450px;
    margin: auto;
    padding: 0 20px;
    font-size: 
}
.form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.form__input{
    width: 100%;
}
.form__label{
    display: block;
    margin-bottom: 10px;
}
.form__textarea{
    width: inherit;
    font-size: 18px;
    padding: 12px 20px;
    border: none;
    background-color: gray;
    margin-bottom: 10px;
}
.form__submit{
    background-color: #3cd0ff;
    border: none;
    font-weight: bold;
    padding: 5px 30px;
    border-radius: 20px;
    color: white;
}
.entry{
    margin-top: 50px;
}
.entry__title{
    display: inline;
    font-size: 18px;
}
.entry__date{
    color: #5c6b70;
}
.entry__content{
    font-size: 16px;
    line-height: 150%;
}
.footer{
    background-color: #323f43;
    padding: 40px 0  ;
    margin-top: 50px ;
    border-top: 4px solid black;
    color: white;
        font-family: lato, sans-serif;
}
.footer_content{
    max-width: 640px;
    margin: auto;
    display: flex;
    flex-direction: row;
}
.footer .right{
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    direction: rtl;
}
.footer .left{
        flex-grow: 1;
    display: flex;
    flex-direction: column;
    direction: rtl;
}
.footer__column{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
.footer__item{
    margin-bottom: 5px;
     transition: text-shadow 0.3s;
}
.footer__item:hover{
  text-shadow: 0 0 5px #00f, 0 0 10px #0ff, 0 0 20px #0ff;
  text-decoration:#00f;
}

